@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext);


body {
	font-family: 'PT Sans', sans-serif;
	background-color: #12131b;
}


#transparent {
	background: #07080b;
	background: rgba(7,8,11,1);
	background: -moz-linear-gradient(top, rgba(7,8,11,1) 0%, rgba(21,22,32,0.75) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(7,8,11,1)), color-stop(100%, rgba(21,22,32,0.75)));
	background: -webkit-linear-gradient(top, rgba(7,8,11,1) 0%, rgba(21,22,32,0.75) 100%);
	background: -o-linear-gradient(top, rgba(7,8,11,1) 0%, rgba(21,22,32,0.75) 100%);
	background: linear-gradient(to bottom, rgba(7,8,11,1) 0%, rgba(21,22,32,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07080b', endColorstr='#151620', GradientType=0 );
	height: 90px;
	width: 100%;
	z-index: 10;
}

.navbar-default {
	background: #07080b;
	background: rgba(7,8,11,1);
	background: -moz-linear-gradient(top, rgba(7,8,11,1) 0%, rgba(21,22,32,0.75) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(7,8,11,1)), color-stop(100%, rgba(21,22,32,0.75)));
	background: -webkit-linear-gradient(top, rgba(7,8,11,1) 0%, rgba(21,22,32,0.75) 100%);
	background: -o-linear-gradient(top, rgba(7,8,11,1) 0%, rgba(21,22,32,0.75) 100%);
	background: linear-gradient(to bottom, rgba(7,8,11,1) 0%, rgba(21,22,32,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07080b', endColorstr='#151620', GradientType=0 );

	width: 100%;
	z-index: 2;
	border: none;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: none;
}

.navbar-nav > li > a {
    padding-top: 17px;
    padding-bottom: 8px;
	text-align: center;
}

#phone_numbers {
	font-size: 14px;
}

#myNavbar {
	font-size: 16px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: yellow;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}

.btn-md.round {
	-ms-border-radius: 24px;
	border-radius: 24px;
}

.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	border-radius: 25px;
	margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.btn-info {
	color: #fff;
	background-color: #151620;
	border-color: #151620;
	border-radius: 25px;
	margin-top: 10px;
	margin-right: 5px;
    margin-left: 5px;
    align-items: center;
}

.carousel-caption {
	right: 20%;
	left: 20%;
	padding-bottom: 15px;
	z-index: 1;
}

.carousel-indicators {
	position: absolute;
	bottom: 137px;
	left: 90%;
	z-index: 1;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
}

.carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 450px;
	left: 15%;
	z-index: 1;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.h2, h2 {
	font-size: 28px;
    color: white;
    margin-top: 60px;
}

#h2_1 {
    
    text-align: left;

}

#services {
    min-height: 500px;
    width: 100%;
}