




/****************************************************\
*                   Основной лист стилей             *
\****************************************************/

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext);

html {
    overflow-x: hidden;
    height: 100%;
}

body {
    color: white;
    font-family: 'PT Sans', sans-serif;
    background-color: #13131B;
    height: 100%;
}



.container-fluid {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    height: 100%;
}

.section {
    background-attachment: fixed;
    -ms-background-size: auto 100%;
    background-size: auto auto;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #13131B;
}

#section2 {
    z-index: 20;
}

#section3 {
    z-index: 30;
}

#section4 {
    z-index: 40;
}

#section5 {
    z-index: 50;
}

#section6 {
    z-index: 60;
}

#section7 {
    z-index: 70;
}

#section8 {
    z-index: 80;
}

#transparent {
    background: #07080b;
    background: rgba(7,8,11,1);
    background: -moz-linear-gradient(top, rgba(7,8,11,1) 0, rgba(21,22,32,0.75) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(7,8,11,1)), color-stop(100%, rgba(21,22,32,0.75)));
    background: -webkit-linear-gradient(top, rgba(7,8,11,1) 0, rgba(21,22,32,0.75) 100%);
    background: -o-linear-gradient(top, rgba(7,8,11,1) 0, rgba(21,22,32,0.75) 100%);
    background: linear-gradient(to bottom, rgba(7,8,11,1) 0, rgba(21,22,32,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07080b', endColorstr='#151620', GradientType=0 );
    height: 90px;
    width: 100%;
    z-index: 10;
}

.navbar-right {
    float: right !important;
    margin-right: 0;
}

.New_logo {
    background-image: url("New_logo.png");
    position: absolute;
    left: 378px;
    top: 734px;
    width: 45px;
    height: 44px;
    z-index: 33;
}


#how {
    background: url('../img/how-it-works-back.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

    #how div {
        max-width: 1170px;
        align-self: auto;
        margin: 0 auto;
        vertical-align: middle;
        position: relative;
        padding: 80px 1px 10px 10px;
    }

    #how table {
        border-top: none;
        min-height: .01%;
        overflow-x: auto;
        margin: 0 auto;
    }

        #how table p {
            color: white;
            margin: 13px 0 10px 0;
        }

        #how table tr td {
            border-top: none;
            max-width: 140px;
        }

    #how .img-responsive {
        display: inline;
        /* margin: 0 10px 0 0px; */
        width: auto;
        padding: 0 42px 0 50px;
    }


#adding {
    background: url('../img/Hunter-benefits-back.jpg') no-repeat center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    max-width: 100%;
    height: auto;
}

    #adding table p {
        color: white;
        margin: 5px 3px 3px 2px;
    }

    #adding table {
        border-top: none;
        max-width: 980px;
        min-height: .01%;
        overflow-x: auto;
        margin: 0 auto;
    }


        #adding table tr td {
            border-top: none;
            max-width: 333px;
            padding: 1px 4px 1px 7px;
        }

    #adding h2 {
        text-align: center;
        font-size: 28px;
    }

.p2 {
    font-weight: 700;
    font-size: 16px;
}

#garanty {
    max-width: 1170px;
    height: 100%;
}

    #garanty h2 {
    }

    #garanty ul {
        width: 600px;
        text-align: left;
        color: white;
        font-size: 18px;
        /* font-weight: 700; */
        position: relative;
        left: 554px;
        top: -391px;
        z-index: 11;
        list-style-type: none;
        /* bottom: 250px; */
        /* right: 65px; */
    }

        #garanty ul li {
            padding: 10px 10px 10px 10px;
        }

            #garanty ul li div {
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }


                #garanty ul li div:hover {
                    position: relative;
                    background-color: #1E252F;
                    -webkit-transform: translateX(-6px);
                    -moz-transform: translateX(-6px);
                    -ms-transform: translateX(-6px);
                    -o-transform: translateX(-6px);
                    transform: translateX(-6px);
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -ms-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    border-radius: 5px;
                }

                #garanty ul li div img {
                    padding: 6px 6px 6px 6px;
                    position: relative;
                    z-index: 10;
                }

#sawPicture {
    right: 247px;
    position: relative;
}

#garanty ul img {
    padding: 5px 5px 5px 5px;
}

.h2h {
    color: white;
    font-size: 28px;
    margin: 100px 0 15px 0;
    font-weight: 700;
}

#pp-nav li .active span, .pp-slidesNav .active span {
    background: #333;
    background: white;
    width: 12px;
    height: 12px;
    top: 0px;
    left: 0px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    background-color: yellow;
}

#pp-nav span, .pp-slidesNav span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    /* color: red; */
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#about {
    background: url('../img/About-us-back.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#test {
    width: 100%;
    height: 100%;
}

    #test .img-responsive img {
        /* padding: 90px; */
        height: 100%;
        /* width: 100%; */
    }





html, body {
    height: 100%;
}

.carousel, .item, .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
}
