/******************************\
			  FOOTER
\******************************/

.text-center {
    text-align: justify;
}

footer {
    margin: 0 auto;
    width: 1170px;
    height: 160px;
}

.footer-row-1 {
    height: 80px;
    text-align: left;
    padding-top: 19px;
    padding-bottom: 18px;
}

.footer-row-2 {
    text-align: left;
    height: 85px;
    border-top: solid 2px #202430;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 4px;
}

.logo-wizard-tree {
    width: 66px;
    background-color: #1F232F;
    border-bottom: 2px solid #ce5252;
}

.logo-wizard-tree img {
    position: relative;
    right: 4px;
}


.logo-wizard-studio {
	text-align: right;
	padding-top: 17px;
}

footer .col-lg-3 {
    padding-left: 30px;
}

footer .col-lg-5 {
    text-align: left;
    padding-top: 19px;
    padding-bottom: 18px;
}

footer .navbar-footer {
}



#onGoogleMap table tr td {
    width: 220px;
    padding: 7px 0 7px 3px;
    border: none;
}

#googleMap {
    margin-left: 7%;
    width: 90%;
    height: 425px;
}

#onGoogleMap {
    border: 1px solid gray;
    margin-right: 7%;
    padding: 30px;
    width: 90%;
    height: 425px;
    background: #353C45;
}

.section8center {
    height: 425px;
}

#contacts {
}

    #contacts .col-lg-6 {
        width: 50%;
        margin: 0;
        padding: 0;
    }

.button-for-leave {
    width: 255px;
    height: 40px;
    font-size: 18px;
}

.button-for-telephone {
    background-color: #353C45;
    border: 2px solid white;
    height: 40px;
    font-weight: 400;
    color: white;
    padding: 6px;
    position: relative;
    font-size: 16px;
}


.button-for-telephone-right {
    width: 215px;
    border-radius: 0 25px 25px 0;
    left: 40px;
}

.button-for-telephone-left {
    width: 40px;
    border-radius: 25px 0 0 25px;
    border-right: none;
    float: left;
}

#contacts div img {
    position: relative;
}

.smile {
    padding-left: 11px;
}

.icons-telephone-footer {
    padding: 0 6px 5px 7px;
}



    .navbar-footer .navbar-nav > li > a {
        font-weight: 700;
        padding-top: 12px;
        padding-bottom: 10px;
        text-align: center;
        color: white;
        -webkit-transition: color 0.3s ease-in-out;
        -moz-transition: color 0.3s ease-in-out;
        -ms-transition: color 0.3s ease-in-out;
        -o-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 7px;
        margin-left: 7px;
    }

        .navbar-footer .navbar-nav > li > a:focus,
        .navbar-footer .navbar-nav > li > a:hover {
            color: #FFEE02;
            background-color: transparent;
            border-bottom: solid 2px yellow;
        }

        .navbar-footer .navbar-nav > li > a:active {
            color: #FFEE02;
            background-color: transparent;
        }

    .navbar-footer.navbar-nav > .active > a,
    .navbar-footer.navbar-nav > .active > a:focus,
    .navbar-footer.navbar-nav > .active > a:hover {
        color: #FFEE02;
        background-color: transparent;
        border-bottom: none;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
