/******************************\
              FOOTER
\******************************/

.text-center {
    text-align: justify;
}

footer .row {
    margin-top: 50px;
    height: 75px;
    border-top: solid 2px #202430;
    margin-bottom: 5px;
}

footer .col-lg-6,
footer .col-lg-2,
footer .col-lg-1 {
    padding: 14px;
}

footer .col-lg-1 {

    padding: 14px 30px 14px;
    max-width: 70px;
    background-color: #1F232F;
    border-bottom: 2px solid #ce5252;
}

footer .col-lg-1 img {
	position: relative;
	top: 1px;
	right: 17px;
}

footer .col-lg-2 {
    text-align: right;
}

footer .col-lg-3 {
    padding-left: 30px;
}

footer .col-lg-6 {
    text-align: left;
}

#onGoogleMap table tr td {
    width: 200px;
    padding: 10px;
    border: none;

}

#onGoogleMap table tr th {
    padding: 15px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

#onGoogleMap table tr td span {
    text-align: left;
    font-size: 16px;
}


 .col-lg-6 {
    width: 50%;
    padding: 0;
}


#googleMap {
    width: 100%;
    height: 425px;
}

#onGoogleMap {
    padding: 20px;
    width: 100%;
    height: 425px;
    background: #353C45;
}

