


/****************************************************\
*                   Первый экран                     *
\****************************************************/

.navbar-default {
	background: #07080b;
	background: rgba(7,8,11,1);
	background: -moz-linear-gradient(top, rgba(7,8,11,1) 0, rgba(21,22,32,0.75) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(7,8,11,1)), color-stop(100%, rgba(21,22,32,0.75)));
	background: -webkit-linear-gradient(top, rgba(7,8,11,1) 0, rgba(21,22,32,0.75) 100%);
	background: -o-linear-gradient(top, rgba(7,8,11,1) 0, rgba(21,22,32,0.75) 100%);
	background: linear-gradient(to bottom, rgba(7,8,11,1) 0, rgba(21,22,32,0.75) 100%);
	-webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07080b', endColorstr='#151620', GradientType=0 );
	-moz-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07080b', endColorstr='#151620', GradientType=0 );
	-o-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07080b', endColorstr='#151620', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07080b', endColorstr='#151620', GradientType=0 );
	z-index: 20;
	border-bottom: solid 1px gray;
	height: 76px;
}

#phone_numbers {
	font-size: 14px;
}

.navbar-default .navbar-nav > li > a {
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 7px;
	text-align: center;
	color: white;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > li > a:hover {
		color: #FFEE02;
		background-color: transparent;
		border-bottom: solid 1px yellow;
	}

	.navbar-default .navbar-nav > li > a:active {
		color: #FFEE02;
		background-color: transparent;
	}

.navbar-nav {
    max-width: 1170px;
}





.btn {
	-webkit-transition: background-color 0.3s ease-in-out, border-color 1s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out, border-color 1s ease-in-out;
	-ms-transition: background-color 0.3s ease-in-out, border-color 1s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out, border-color 1s ease-in-out;
	transition: background-color 0.3s ease-in-out, border-color 1s ease-in-out;
	font-weight: 700;
}

.btn-md.round {
	border-radius: 24px;
}

.btn-success {
	color: #fff;
	background-color: #15C242;
	border-color: #15C242;
	border-radius: 25px;
	margin-top: 4px;
	margin-right: 5px;
	margin-left: 5px;
}

.btn-warning {
	color: #fff;
	background-color: #ff0000;
	border-color: #ff0000;
	border-radius: 25px;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.btn-info {
	color: #fff;
	background-color: #30373F;
	border-color: #30373F;
	border-radius: 25px;
	margin-top: 4px;
	margin-right: 5px;
	margin-left: 5px;
}

.carousel-indicators {
	position: absolute;
	bottom: 20%;
	left: 97%;
	z-index: 15;
	width: 50%;
	padding-left: 0;
	text-align: center;
	list-style: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	color: #FFEE02;
	background-color: transparent;
	border-bottom: 1px solid #FFEE02;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


#transparentContainer {
	color: white;
	height: 100px;
	width: 100%;
	padding: 15px 15px 15px 15px;
	position: relative;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	background: -moz-linear-gradient(top, rgba(21,22,32,0.45) 0%, rgba(18,19,27,0.75) 40%, rgba(18,19,27,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(21,22,32,0.45) 0%,rgba(18,19,27,0.75) 40%,rgba(18,19,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(21,22,32,0.45) 0%,rgba(18,19,27,0.75) 40%,rgba(18,19,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	-webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73151620', endColorstr='#12131b',GradientType=0 );
	-moz-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73151620', endColorstr='#12131b',GradientType=0 );
	-o-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73151620', endColorstr='#12131b',GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73151620', endColorstr='#12131b',GradientType=0 ); /* IE6-9 */
}

	#transparentContainer img {
		height: 50px;
	}


	#transparentContainer div .col-md-1 {
		width: auto;
		font-size: 18px;
		color: #FFEE02;
		text-transform: uppercase;
	}

.carousel-caption {
	color: white;
	z-index: 1;
	top: 39%;
	height: 220px;
	width: 475px;
	padding: 20px 20px 20px 20px;
	border-top: solid 1px;
	border-bottom: solid 1px;
	background: -moz-linear-gradient(top, rgba(7,8,11,0.75) 0%, rgba(21,22,32,0.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(7,8,11,0.75) 0%,rgba(21,22,32,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(7,8,11,0.75) 0%,rgba(21,22,32,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	-webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf07080b', endColorstr='#80151620',GradientType=0 );
	-moz-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf07080b', endColorstr='#80151620',GradientType=0 );
	-o-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf07080b', endColorstr='#80151620',GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf07080b', endColorstr='#80151620',GradientType=0 ); /* IE6-9 */
}

.carouselHeader {
	top: -107px;
	position: inherit;
	width: 475px;
	/* left: 10; */
	right: 0;
}

	.carouselHeader h1 {
		color: #FFEE02;
		font-size: 37px;
		font-weight: bold;
		margin-bottom: 0;
	}

	.carouselHeader h2 {
		font-weight: bold;
		font-size: 22px;
		color: #ffffff;
		margin: 5px 0 5px 0;
	}

.carousel-caption p {
	font-size: 14px;
	color: white;
	font-weight: bold;
	width: 200px;
	text-align: left;
}

.item .carousel-caption .img-responsive {
	height: 170px;
	position: relative;
	bottom: 55px;
	left: 19px;
	/* top: 10px; */
}

.item .carousel-caption .row {
	position: relative;
	bottom: 69px;
}

section header {
	margin-top: 80px;
	font-size: 37px;
}

	section header h2 {
		font-size: 37px;
	}

.navbar .container .img-responsive {
	margin: 5px;
	border: solid 1px gray;
}

/* media 768*/

 .navbar-fixed-bottom .navbar-collapse,
 .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}

.navbar-collapse.collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
}

.navbar-collapse {
	width: auto;
	border-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}