
.center-block {
    display: block;
    margin: 0 auto;
    max-width: 1170px;
}

.wrapper .col-md-3 .tabs .tab .active {

    background: rgb(45,48,138); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(45,48,138,1) 0, rgba(18,19,27,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(45,48,138,1) 0,rgba(18,19,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(45,48,138,1) 0,rgba(18,19,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d308a', endColorstr='#12131b',GradientType=1 );
    -moz-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d308a', endColorstr='#12131b',GradientType=1 );
    -o-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d308a', endColorstr='#12131b',GradientType=1 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d308a', endColorstr='#12131b',GradientType=1 ); /* IE6-9 */

}

.wrapper .col-md-3 .tabs .tab :hover .active {

    background: rgb(45,48,138); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(45,48,138,1) 0, rgba(18,19,27,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(45,48,138,1) 0,rgba(18,19,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(45,48,138,1) 0,rgba(18,19,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d308a', endColorstr='#12131b',GradientType=1 );
    -moz-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d308a', endColorstr='#12131b',GradientType=1 );
    -o-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d308a', endColorstr='#12131b',GradientType=1 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d308a', endColorstr='#12131b',GradientType=1 ); /* IE6-9 */

}

.wrapper .col-md-3 .tabs .tab :hover {

    background: rgb(38,43,59); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(38,43,59,1) 0%, rgba(18,19,27,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(38,43,59,1) 0%,rgba(18,19,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(38,43,59,1) 0%,rgba(18,19,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262b3b', endColorstr='#12131b',GradientType=1 );
    -moz-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262b3b', endColorstr='#12131b',GradientType=1 );
    -o-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262b3b', endColorstr='#12131b',GradientType=1 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262b3b', endColorstr='#12131b',GradientType=1 ); /* IE6-9 */
}

.wrapper .col-md-3 .tabs .tab {

    background: rgb(25,29,41); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(25,29,41,1) 0%, rgba(18,19,27,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(25,29,41,1) 0%,rgba(18,19,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(25,29,41,1) 0%,rgba(18,19,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d29', endColorstr='#12131b',GradientType=1 ); /* IE6-9 */

}

.wrapper .col-md-3 .tabs .tab{

    list-style-type: none;
    text-align: left;
    width: 255px;
    height: 135px;
    margin: 0 0 8px 0;
    padding: 10px;
}



.wrapper .tab_content {
    font-size: 14px;
    color: black;
    background-color: white;
    width: 855px;
    height: 420px;
}

.wrapper .tab_content table {
    height: 420px;
    width: 855px;
        text-align: left;
        border: solid 1px red;
    }

    .wrapper .tab-content table tr {
        border: solid 2px green;
    }

    .wrapper .tab-content table tr td{
        border: solid 2px green;
    }
.wrapper .tab_content ul {
    list-style-type: none;
    text-align: left;
    max-width: 250px;
    border: solid 1px black;
    padding: 0;
}

    .wrapper .tab_content ul li {
        padding: 0;
        text-align: left;
        border: solid 1px blue;
    }

.saw_svg {
    background-color: blue;
    padding: 10px;
    margin: 90px 0 20px 5px;
    width: 150px;
}

.saw_png {
    position: relative;
    top: 1px;
    right: 1px;
}
